<!--
  This is the form called "How much do you know about yourself?". Here,
  Nightingale will be asked to answer a series of questions about herself.
  The questions are divided into various categories viz. ['colours_fashion',
  'food_treats', 'entertainment', 'music_songs', 'personal_lifestyle',
  'travel', 'relationships_sentiments']. Nightingale can select which category
  she wants to answer questions from. The questions are the labels of the form
  fields made in forms.py.
-->

{% extends "puzzles/base.html" %}

{% load static %}

{% load bootstrap4 %}


{% block title %}
  <title>Form: {{ category_name }}</title>
{% endblock %}


{% block content %}
  <h2 class="d-flex justify-content-center align-items-center">
    {{ category_name }}
  </h2>
  <div class="jumbotron lead">
    <p>{{ category_instruct }}</p>
  </div>
  <br>
  <p>
    <form method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <br>
      <p>
        <button type="submit">Submit</button>
      </p>
    </form>
  </p>
{% endblock %}