<!--
  This is the template for the crossword puzzle. I have used an online tool to
  generate the crossword puzzle. The tool is called "My Crossword Maker"
  and can be found at https://mycrosswordmaker.com/. The tool generates
  a JavaScript file that can be used to render the crossword puzzle. The
  JavaScript file is stored in the "puzzles/static/puzzles/js" folder.
  The JavaScript file is loaded in the template below. The JavaScript
  file is called "crosswordPuzzle.js".
-->

{% extends "puzzles/base.html" %}

{% load static %}

{% block title %}
  <title>Crossword Puzzle</title>
{% endblock %}


{% block extracss %}
  <link rel="stylesheet" href="{% static 'puzzles/css/crossword_puzzle.css' %}">
{% endblock %}

{% block content %}
  <h1 class="d-flex justify-content-center align-items-center">
    Welcome to the Crossword Puzzle!
  </h1>
  <p>
    This is the second of the puzzles of the series!! Continuing the
    momentum from the slider puzzle, this puzzle is a crossword puzzle - Enough
    with the pictures! 😅
  </p>
  <p>
    (Note: This crossword isn't exactly "coded" by me. I used an online tool to
    generate the crossword puzzle. The tool is called
    <a href="https://crosswordlabs.com">"Crossword Labs"</a>
    and it generated a link to the crossword that I embedded in this page. I 
    simply gave it the questions and their answers and set the orientation
    stuff 🙂)
  </p>
  
  <br>
  
  <div class="jumbotron lead">
    <h4 id="instructions">
      <b>Instructions</b>
    </h4>
    
    <p>
      ⚠ So, like any crossword puzzle, you have to fill in the words using the
      clues given for both 'across' and 'down'. The words are not
      case-sensitive. So, you can enter the words in any case you want.
    </p>
    <p>
      ☝🏻 Just tap on the grid box that you want to put a letter into.
    </p>
    <p>
      ☝🏻 After you have entered the whole word, hit enter to register the word
      and move on to the next word.
    </p>
    <p>
      ☝🏻 When you hit enter, if the word is correct, it will be coloured green,
      else, it will be coloured red, so you know when you have guessed the
      word wrong.
    </p>
    <p>
      ☝🏻 You can increase the size of the clues window by simply dragging the
      top of the window upwards.
    </p>
    <p>
      ☝🏻 You can also go to a word from its clue. Simply tap on the clue to go
      to the word in the grid and start filling it up *That's what she said*
    </p>
    <p>
      ⭐ On solving the crossword puzzle, you will see a star pop out on the
      crossword. That's the website's way of telling you that you have solved
      the puzzle correctly.
    </p>

    <br>

    <p>You go, girl! ✨</p>
  </div>

  <br>
  

  <div class="crossword-container d-flex justify-content-center align-items-center">
    <iframe title="NG-BDay-CW" class="crossword-iframe" frameborder="10" src="https://crosswordlabs.com/embed/nightingales-birthday-crossword"></iframe>
  </div>
  
  <br>
  <br>
  
  <hr id="horizontal-line">
  
  <div>
    <div class="alert alert-info">
      <p class="text-info">
        If you think you have solved the crossword puzzle, tap on the button
        below and follow the steps mentioned in the next page.
      </p>
    </div>
    <div class="alert alert-warning">
      <p class="text-dark lead">
        ⚠ But before that - <b>MAKE SURE YOU HAVE THE ANSWERS OF THE CROSSWORD
        WRITTEN SOMEWHERE.</b> You will need them in the next page. 🙂
      </p>
    </div>

    <br>
    
    <div class="d-flex justify-content-center align-items-center">
      <p>
        <a href="{% url 'puzzles:crossword-puzzle-check' %}">
          <button type="button">
            Solved The Crossword!
          </button>
        </a>
      </p>
    </div>
  </div>
{% endblock %}