<!--
  Page to display the final message of the entire puzzle app. This is
  the Goodbye! :')
-->

{% extends "puzzles/base.html" %}

{% block title %}
  <title>The Goodbye</title>
{% endblock %}


{% block content %}

  <h1 class="d-flex justify-content-center align-items-center">
    👋🏻 L'Au revoir! 👋🏻
  </h1>

  <br>

  <div id="message">
    <p>
      So that was all from this app. You got your passcode, and hopefully,
      you had fun while solving those puzzles. 😊 This app has served its
      purpose, and served well (hopefully)! 🥺🤞🏻
    </p>
    <p>
      Maine aur v puzzles ke soche the but I was not sure ki tu itne puzzles
      solve krnaa pasand kregi v yaa nhi... So, I kept it bare minimum jisse
      ki kaam v ho jaae and tu frustrate v naa ho. 🤗
    </p>
    <p>
      Iss developer/engineeer ko feedback v dedenaa. 🙏🏻🥺👉🏻👈🏻
    </p>

    <br>
    
    <p>
      So, I guess, that's it. Time for the goodbyes ☹
    </p>
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  
    <p>
      <i>
        "I'm not crying, you're crying!"
      </i>
      😭
    </p>
  </div>

{% endblock %}