<!--
  Page to display the final message of the entire puzzle app. This is
  the Goodbye! :')
-->

{% extends "puzzles/base.html" %}


{% block content %}

  <h1>Goodbye!</h1>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

  <p>
    <i>
      "I'm not crying, you're crying!"
    </i>
    😭
  </p>

{% endblock %}