<!--
  This is the main page for the puzzles app. The home page of the Web App would
  simply wish her happy birthday and welcome her to the app. It would also
  contain introduction about what the web app is and starting instructions
-->

<!--Inherit from base template-->
{% extends 'puzzles/base.html' %}

<!--Define the content block-->
{% block content %}
  <h1>Happy Birthday, Honeybunch!</h1>
  <p>
    Welcome to the puzzles app. This is a simple web app designed to help you
    get to the combination that opens your gift box. There are three digits in
    the combination, so we have three puzzles for you to solve. Each puzzle
    will give you a digit of the combination. Once you have all three digits,
    you can open the box and get your gift!
  </p>

  <p>
    Ready to work your <i>Tantrikk Vidyaaen</i>? 🌚 If so, just smash the "Go"
    button below and get started! 🤙🏻🙌🏻 <b>ALL THE BEST, MISS!!! 🍀</b>
  </p>
  <p>
    <a href="{% url 'puzzles:slider-puzzle' %}">
      <button type="button">Go</button>
    </a>
  </p>
{% endblock content %}