<!--
  This is the main page for the puzzles app. The home page of the Web App would
  simply wish her happy birthday and welcome her to the app. It would also
  contain introduction about what the web app is and starting instructions
-->

<!--Inherit from base template-->
{% extends 'puzzles/base.html' %}

<!--Define the content block-->
{% block content %}
  <h1 class="d-flex justify-content-center align-items-center">
    Happy Birthday, Honeybunch!
  </h1>

  <br>

  <div id="message">
    <p>
      Hello, Ma'am! Long time no see? 🌚 I hope this website finds you in good
      health and great spirits, coz trust me you are going to need it. 😌
    </p>
    <p>
      Welcome to the this Web App. 😊 This app is designed to help you
      get to the combination that opens your gift box. 😏 There are three digits in
      the combination, so we have three puzzles for you to solve. 😌 Each puzzle
      will give you a digit of the combination. Once you have all three digits,
      you can open the box and get your gift! 🙌🏻
    </p>
  </div>
  
  <br>

  <p class="text-center">
    Ready to work your <i>Taantrikk Vidyaaen</i>? 🌚 If so, just smash the "Go"
    button below and get started! 🤙🏻🙌🏻 <b>ALL THE BEST, MISS!!!</b> 🍀
  </p>
  <p class="d-flex justify-content-center align-items-center">
    <a href="{% url 'puzzles:slider-puzzle' %}">
      <button type="button">Go</button>
    </a>
  </p>
{% endblock content %}