<!--
  This page will show the third message, that is after completing the
  counterfiet form, thus revealing the third and final digit of the passcode.
-->


{% extends "puzzles/base.html" %}


{% load static %}


{% block title %}
  <title>Message 3</title>
{% endblock %}


{% block extracss %}
  <link rel="stylesheet" href="{% static 'puzzles/css/message_3.css' %}">
{% endblock %}


{% block content %}
  <h1 class="d-flex justify-content-center align-items-center">
    🥂 ¡Felicidades! 🥂
  </h1>
  <h5 class="d-flex justify-content-center align-items-center">
    ¡Has completado la parte final de la serie de rompecabezas!
  </h5>

  <br>

  <div id="message">
    <p>
      However, <b>this form was no puzzle</b>. 🤣 Tujhe shi mai lagttaa hai ki
      aisaa koi algorithm hogaa ki tu kuch v likhegi and it would be checked
      against the answers? I mean, sure GPT 4 can do that
      semantic-similarity-checking lekn aisaa koi algorithm nhi hai. 🤷🏻‍♂️
    </p>
    <p>
      And yaar itne saare sawaalon kaa ek dam he shi answer kahaan se le aaungaa?
      😂 Tujhe he pataa hogaa exactly inkaa answer. Itnaa thore jaantaa hun tujhe?
    </p>
    <p>
      I mean, well, coz tujhe itnaa jyaadaa nhi jaantaa, thus this form you just
      submitted. <b>It was so I could get to know you better</b>. 🥺 (also, next
      birthday pe fr se ek website nhi banaa paaungaa baut mehenatt hai, chenbodd!
      kuch tre pasand kaa khareed ke pakkddaa dungaa tujhe... Expectations high
      matt rakhiyo... 🥺👉🏻👈🏻)
    </p>
    <p>
      Chorr ab sabko. Jyaadaa emotional nhi hoten. Final part khatam kr diyaa hai
      tune so, here's your final reward!
    </p>
    <p class="revealation">
      The final one of the three digits of your
      passcode! 🌟🌟🌟 The third and final digit you get
      is <strong>{{ message_3_digit }}</strong>.
    </p>
  </div>

  <p class="d-flex justify-content-center align-items-center">
    <h3>Are are are wait wait wait...</h3>
    Nhi khulegaa taalaa abhi! 🤣 Pehele verify kr jaao, <i>Taantrikk Saaibaa</i>.
    Click on the button below to verify your passcode.
  </p>
  <p class="d-flex justify-content-center align-items-center">
    <a href="{% url 'puzzles:passcode-check' %}">
      <button type="button">
        Verify Passcode
      </button>
    </a>
  </p>
{% endblock %}