<!--
  This is the template for the passcode check page.
  Nightingale, having completed all puzzles, should have the three digits of
  the passcode. Now, it's not necessary that the order in which she got the
  passcode would be the right order. So she would get three guesses at the
  passcode. If she gets it right, she would be redirected to the final message
  page. Else, she would be redirected to the passcode check page again until
  her attempts are over. If her attempts are over, she would be redirected to
  the final message page, anyway which would reveal the correct passcode.
-->

{% extends "puzzles/base.html" %}

{% load static %}


{% block content %}
  <h1>Passcode Checkpoint!</h1>
  <p>
    First things first: Congratulations on completing all the puzzles! You're
    really the infamous <i>Tantrikk</i> that people say you are!!! 🥳🎉🙌🏻
    Now, you have the three digits of the passcode. However, there's one last
    twist of them all. It's <b>NOT NECESSARY</b> that the order in which
    you got the digits is the right order. 🌚
  </p>

  <p>
    So, you have three attempts to guess the right order of the digits. If you
    get it right at any point, you'll be redirected to the final message page.
    However, if your attempts are over, you'll be redirected to the final
    message page, anyway. 🤷🏻‍♂️ <b>After being shown the correct pascode!</b> 😏
    <i>
      (don't you tell me you hadn't almost thrown your iPhone away thinking -
      "SHIT!, MORE PUZZLEESSSS!!???" Okee, not thinking, may be screaming,
      actually. And swearing at me. Who knows?
    </i>
    🤔<i>)</i>
  </p>

  <br>
  <br>

  {% if passcode_verified is None %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
    <p>You have {{ attempts_left }} attempts left...</p>
  {% elif passcode_verified %}
    <p>
      That's my <i>Tantrikk</i>, naa!!! 🎊 You got it right!!!
    </p>
    <p>Passcode is indeed <b>123</b></p>
    <p>
      Now, you shall be automatically redirected to the final message page in
      some time, please wait...
    </p>

    {% if show_redirect_script %}
      <script>
        // Inline JavaScript just for the URL generation
        var finalMessageURL = "{% url 'puzzles:final-message' %}";
      </script>

      <!-- Load the JavaScript for waiting and redirecting -->
      <script src="{% static 'puzzles/js/passcode_check.js' %}"></script>
    {% endif %}
    <!--end if-->
  {% else %}
    <p>
      <i>Tantrikaa</i>, I have to say, em disappointed with you. Laggtaa hai
      aaj kal che se <i>kabutarr</i> nhi khaa rhi. Han lekn saare attempts
      zarurr khaa gyi. 🤣 lol em too funny
    </p>
    <p>
      Anyway, the <b>CORRECT PASSCODE</b> is <b>123</b>!
    </p>
    <p>
      Now, you shall be automatically redirected to the final message page in
      some time, please wait...
    </p>

    {% if show_redirect_script %}
      <script>
        // Inline JavaScript just for the URL generation
        var finalMessageURL = "{% url 'puzzles:final-message' %}";
      </script>
      
      <!-- Load the JavaScript for waiting and redirecting -->
      <script src="{% static 'puzzles/js/passcode_check.js' %}"></script>
    {% endif %}
    <!--end if-->
  {% endif %}
  <!--end if-elif-else-->
{% endblock %}