<!--
  This is the template for the slider puzzle. It is a 3x3 grid of images that
  can be moved around. The images are stored in the
  "puzzles/static/puzzles/images/slices" folder and are named slice_1, slice_2,
  and so on. The 9th image is a blank image. The images are shuffled and placed
  in the grid. The user can then move the images around by clicking on them.
  The goal is to get the images in order from 1 to 9.
-->
{% extends "puzzles/base.html" %}

{% load static %}

{% block title %}
  <title>Slider Puzzle</title>
{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'puzzles/css/sliderPuzzle.css' %}">
{% endblock %}


{% block content %}
  <h1>Welcome to the Slider Puzzle!</h1>
  <p>
    This is the first of the puzzles you got to solve to get your complete
    passcode! 😉 This puzzle is a picture-slider-puzzle. The goal is to get the
    images in a sensible order.
  </p>
  <p>
    ⚠ You can only move the images that are next to the <i>"Move Me"</i>
    tile either <b>horizontally or vertically</b>.
  </p>
  <p>
    👇🏻 Simply click on the tile you want to move and it will swap places with
    the <i>Move Me</i> tile.
  </p>

  <div class="board" id="sliderPuzzleContainer">
    <!-- The slider puzzle grid will be rendered here via JavaScript -->
    <div class="tile" data-order="1" id="tile-1">
      <span class="tile-number">1</span>
    </div>
    <div class="tile" data-order="2" id="tile-2">
      <span class="tile-number">2</span>
    </div>
    <div class="tile" data-order="3" id="tile-3">
      <span class="tile-number">3</span>
    </div>
    <div class="tile" data-order="4" id="tile-4">
      <span class="tile-number">4</span>
    </div>
    <div class="tile" data-order="5" id="tile-5">
      <span class="tile-number">5</span>
    </div>
    <div class="tile" data-order="6" id="tile-6">
      <span class="tile-number">6</span>
    </div>
    <div class="tile" data-order="7" id="tile-7">
      <span class="tile-number">7</span>
    </div>
    <div class="tile" data-order="8" id="tile-8">
      <span class="tile-number">8</span>
    </div>
    <div class="tile blank" data-order="9" id="tile-9"></div>
  </div>
  
  <!--Create a button which toggles the tile numbers-->
  <p>
    <button type="button" id="show-numbers-button">
      Show Tile Numbers
    </button>
  </p>
  
  <!--Create a solve button for debugging-->
  <p>
    <button type="button" id="solve-button">Solve</button>
  </p>

  <!--Define the redirect variable for JavaScript-->
  <script>
    // Inline JavaScript just for the URL generation
    var message_1_URL = "{% url 'puzzles:message-1' %}";
  </script>

  <!-- Load the JavaScript for the slider puzzle. -->
  <script src="{% static 'puzzles\js\sliderPuzzle.js' %}"></script>

{% endblock %}