<!--
  This is the template for the slider puzzle. It is a 3x3 grid of images that
  can be moved around. The images are stored in the
  "puzzles/static/puzzles/images/slices" folder and are named slice_1, slice_2,
  and so on. The 9th image is a blank image. The images are shuffled and placed
  in the grid. The user can then move the images around by clicking on them.
  The goal is to get the images in order from 1 to 9.
-->
{% extends "puzzles/base.html" %}

{% load static %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'puzzles/css/sliderPuzzle.css' %}">
{% endblock %}


{% block content %}
  <h1>Welcome to the Slider Puzzle!</h1>
  <p>Solve the puzzle to get the first digit of your passcode.</p>

  <div id="sliderPuzzleContainer", class="board">
    <!-- The slider puzzle grid will be rendered here via JavaScript -->
    <div class="tile" data-order="1" style="background-image: url({% static 'puzzles/images/slices/slice_1.png' %});"></div>
    <div class="tile" data-order="2" style="background-image: url({% static 'puzzles/images/slices/slice_2.png' %});"></div>
    <div class="tile" data-order="3" style="background-image: url({% static 'puzzles/images/slices/slice_3.png' %});"></div>
    <div class="tile" data-order="4" style="background-image: url({% static 'puzzles/images/slices/slice_4.png' %});"></div>
    <div class="tile" data-order="5" style="background-image: url({% static 'puzzles/images/slices/slice_5.png' %});"></div>
    <div class="tile" data-order="6" style="background-image: url({% static 'puzzles/images/slices/slice_6.png' %});"></div>
    <div class="tile" data-order="7" style="background-image: url({% static 'puzzles/images/slices/slice_7.png' %});"></div>
    <div class="tile" data-order="8" style="background-image: url({% static 'puzzles/images/slices/slice_8.png' %});"></div>
    <div class="tile blank" data-order="9" style="background-image: url({% static 'puzzles/images/slices/slice_moveme.png' %});"></div>
  </div>
  
  <!--Create a solve button for debugging-->
  <button type="button" id="solve-button">Solve</button>

  <!-- Load the JavaScript for the slider puzzle. -->
  <script src="{% static 'puzzles\js\sliderPuzzle.js' %}"></script>

{% endblock %}