/* Content Styles */
h1, h2, h3 {
    font-family: 'Indie Flower', cursive;
}

h1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

body {
    background-color: #FAF3DD;
    font-family: 'Itim', cursive;
    font-size: 1.5em;
}

header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Comic Neue', cursive;
    background-color: #FF61A6; /* Bright Pink */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    border-bottom: 5px dotted white; /* Dotted Border like a ribbon */
}

header a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    border-radius: 15px; /* Rounded Corners */
    background-color: #FFFFFF; /* White Background */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Gentle Shadow */
}

footer {
    font-family: 'Comic Neue', cursive;
    background-color: #FF61A6; /* Bright Pink */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.6em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 5px dotted white; /* Dotted Border like a ribbon */
}

footer p {
    line-height: 0.7em;
}

#footer-content {
    margin: 15px 0px;
}

/* Message Styles (for content in message pages: message-1 to 3 and final-message) */
#message {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1em;
    margin: 5px 5px;
}

/* Digit Revealation Styling for message pages */
p.revealation {
    background: url('../images/old_paper_note.jpg') no-repeat center center;
    background-size: cover;
    padding: 40px 20px 20px 20px;
    text-align: center;
    margin: 80px auto;
    box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.5);
}

/* Button Styles */
button {
    background-color: #FF61A6; /* Bright Pink */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px; /* Rounded Corners */
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease; /* Gentle transition */
    box-shadow: 0px 4px 0px 3px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: #FFAAA5; /* Lighter Pink on Hover */
}

/* Media queries for mobile optimisation */
@media screen and (max-width: 768px) {
    header {
        font-size: 1em;
        padding: 8px;
    }
    
    main {
        padding: 15px;
    }
    
    button {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    #message {
        font-family: 'La Belle Aurore', cursive;
        font-size: 1em;
        margin: 5px 5px;
    }

    /* Digit Revealation Styling for message pages */
    p.revealation {
        background: url('../images/old_paper_note.jpg') no-repeat center center;
        background-size: cover;
        padding: 40px 20px 20px 20px;
        text-align: center;
        /* margin: 50px 25px 90px; */
        box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.5);
    }
}

/* Media queries specifically for iPhone 13 */
@media only screen
and (device-width : 390px)
and (device-height : 844px)
and (-webkit-device-pixel-ratio : 3) {
    header {
        font-size: 1em;
        padding: 8px;
    }
    
    main {
        padding: 15px;
    }
    
    button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
    #message {
        font-family: 'La Belle Aurore', cursive;
        font-size: 1em;
        margin: 5px 5px;
    }

    /* Digit Revealation Styling for message pages */
    p.revealation {
        background: url('../images/old_paper_note.jpg') no-repeat center center;
        background-size: cover;
        padding: 40px 20px 20px 20px;
        text-align: center;
        /* margin: 50px 25px 90px; */
        box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.5);
    }
}