#tile-1 {
    background-image: url('../images/slices/slice_1.png');
}

#tile-2 {
    background-image: url('../images/slices/slice_2.png');
}

#tile-3 {
    background-image: url('../images/slices/slice_3.png');
}

#tile-4 {
    background-image: url('../images/slices/slice_4.png');
}

#tile-5 {
    background-image: url('../images/slices/slice_5.png');
}

#tile-6 {
    background-image: url('../images/slices/slice_6.png');
}

#tile-7 {
    background-image: url('../images/slices/slice_7.png');
}

#tile-8 {
    background-image: url('../images/slices/slice_8.png');
}

#tile-9 {
    background-image: url('../images/slices/slice_moveme.png');
}


.complete-image {
    background-image: url('../images/Slider_Puzzle_Sexy_Pic_Edited.png');
    background-size: cover;
    width: 366px;
    height: 366px;
    position: relative;
    margin: auto;
}


h3 {
    text-align: center;
    font-size: 2em;
    color: black;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 2px;
    width: 366px;
    height: 366px;
    position: relative;
    margin: auto;
}

.tile {
    width: 120px;
    height: 120px;
    background-size: 120px 120px; 
    cursor: pointer;
}

.tile.blank {
    cursor: default; /* So the blank tile doesn't look clickable */
}