.complete-image {
    background-image: url('../images/Slider_Puzzle_Sexy_Pic_Edited.png');
    background-size: cover;
    width: 366px;
    height: 366px;
    position: relative;
    margin: auto;
}


h3 {
    text-align: center;
    font-size: 2em;
    color: black;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 2px;
    width: 366px;
    height: 366px;
    position: relative;
    margin: auto;
}

.tile {
    width: 120px;
    height: 120px;
    background-size: 120px 120px; 
    cursor: pointer;
}

.tile.blank {
    cursor: default; /* So the blank tile doesn't look clickable */
}